h1 タスク一覧

= link_to "新規登録", new_task_path, class: 'btn btn-primary'

.mb-3
table.table.table-hover
  thread.thread-default
    tr
      th= Task.human_attribute_name(:name)
      th= Task.human_attribute_name(:created_at)
      th
    tbody
      - @tasks.each do |task|
        tr
          td = link_to task.name, task
          td = task.created_at
          td
            = link_to  "編集", edit_task_path(task), class: 'btn btn-primary mr-3' 
